@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap')
*
    padding: 0
    margin: 0
    box-sizing: border-box

a
    text-decoration: none

button, input
    outline: none
    background: none
    border: none

.section-1
    height: 130vh
    width: 100%
    background-image: url(../../img/backig/bg.jpg)
    background-position: center
    background-size: cover
    header
        width: 90%
        height: 100px
        display: flex
        align-items: center
        margin: 0 auto
        justify-content: space-between

        .logo, a
            font-family: 'Open Sans'
            font-style: normal
            font-weight: 700
            font-size: 24px
            line-height: 33px
            letter-spacing: 0.01em
            text-transform: capitalize
            color: #FFFFFF
            &:hover
                color: #FFC178
                
        .nav
            display: flex
            justify-content: space-between
            width: 30%
            a
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 600
                font-size: 18px
                line-height: 25px
                color: #FFFFFF
                &:hover
                    color: #FFC178

        .search , input
            font-family: 'Open Sans'
            font-style: normal
            font-weight: 400
            font-size: 17px
            line-height: 23px
            color: #FFFFFF
            

    .cont-box
        margin: 0 auto
        margin-top: 10%
        width: 60%
        height: 261px

        .cont-1
            display: flex
            align-items: center
            display: flex
            justify-content: space-between
            width: 46%
            .line
                width: 72px
                height: 2px
                left: 0px
                top: 10px
                background: #FFC178
            h2
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 25px
                letter-spacing: 6px
                text-transform: uppercase
                color: #FFC178

        .discover
            p
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 96px
                line-height: 100px

                text-transform: capitalize

                color: #FFFFFF
            .cont-box, span
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 500
                font-size: 96px

    .scroll
        width: 7%
        height: 35px
        margin: 0 auto
        margin-top: 135px
        a
            font-family: 'Open Sans'
            font-style: normal
            font-weight: 600
            font-size: 18px
            line-height: 25px
            color: #FFFFFF
            display: flex
            justify-content: space-between
            &:hover
                color: #FFC178

.section-2
    width: 100%
    height: 100vh
    background-color: #000000
    .content
        padding-top: 5%
        display: flex
        justify-content: space-between
        width: 70%
        margin: 0 auto

        .rightcont
            width: 46%
            font-family: 'Open Sans'
            font-style: normal
            font-weight: 700
            font-size: 64px
            line-height: 87px
            color: #FFFFFF

            .line_text
                height: 7%
                width: 60%
                justify-content: space-between
                display: flex
                align-items: center
                h2
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 18px
                    line-height: 25px
                    letter-spacing: 6px
                    text-transform: uppercase
                    color: #FBD784

            h3
                margin-top: 3%
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 64px
                line-height: 87px
                color: #FFFFFF
                flex: none
                order: 1
                flex-grow: 0

            p
                margin-top: 3%
                width: 632px
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 600
                font-size: 18px
                line-height: 32px
                color: #FFFFFF

            .line-2
                width: 72px
                height: 2px
                background: #FBD784

            .read_more
                align-items: center
                margin-top: 3%

                a
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 18px
                    line-height: 25px
                    color: #FBD784
.section-3
    width: 100%
    height: 100vh
    background-color: black

    .backimg
       
        height: 70%
        width: 70%
        margin: 0 auto
        background-image: url(../../img/backig/sec2.jpg)
        background-size: cover
        align-items: center
        text-align: center
        .cont
            padding-top: 20%

            .bromo
                display: flex
                justify-content: space-between
                align-items: center
                width: 20%
                margin: 0 auto
                h2
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 18px
                    line-height: 25px
                    letter-spacing: 6px
                    text-transform: uppercase
                    color: #FBD784
                .line-3
                    width: 72px
                    height: 2px
                    left: 434px
                    top: 11.89px
                    background: #FBD784
                    align-items: center
            h2
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 64px
                line-height: 87px
                text-align: center
                color: #FFFFFF
            p
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 600
                font-size: 18px
                line-height: 32px
                text-align: center
                color: #FFFFFF
            .readmore_2
                align-items: center
                margin-top: 3%

                a
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 18px
                    line-height: 25px
                    color: #FBD784
.section-4
    width: 100%
    height: 100vh
    background-color: black
    .cont
        width: 70%
        height: 70%
        margin: 0 auto
        display: flex
        justify-content: space-between
        .leftcont4
            width: 50%
            margin-top: 10%

            .topcont
                width: 65%
                justify-content: space-between
                display: flex
                align-items: center

                .line-4
                    width: 72px
                    height: 2px
                    background: #FBD784

                h2
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 18px
                    line-height: 25px
                    letter-spacing: 6px
                    text-transform: uppercase
                    color: #FBD784
            h2
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 64px
                line-height: 87px
                color: #FFFFFF
            p
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 400
                font-size: 18px
                line-height: 32px
                color: #FFFFFF
            .readmore_2
                align-items: center
                margin-top: 3%

                a
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 18px
                    line-height: 25px
                    color: #FBD784

        .rightcont4
            width: 43%
            height: 100%
            background-image: url(../../img/backig/img2.jpg)
            background-size: cover

footer
    width: 100%
    height: 50vh
    background-color: black
    .footnav
        width: 70%
        height: 90%
        margin: 0 auto
        .topfoot
            display: flex
            justify-content: space-between
            a
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 700
                font-size: 48px
                line-height: 65px
                letter-spacing: 0.01em
                text-transform: capitalize
                color: #FFFFFF
            .buttons
                width: 35%
                display: flex
                justify-content: space-between
                .button-1
                    font-family: 'DM Sans'
                    font-style: normal
                    font-weight: 400
                    font-size: 22px
                    line-height: 29px
                    letter-spacing: -0.3px
                    color: #FFFFFF
                .button-2
                    width: 239px
                    height: 69px
                    background: #FFA343
                    border-radius: 8px
                    font-family: 'DM Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 17px
                    line-height: 22px

                    color: #000000
        .footerline
            margin-top: 3%
            height: 1.38px
            left: 0.07px
            top: 124.44px

            background: #FFFFFF
            mix-blend-mode: normal
            opacity: 0.3

        .midlefoot
            display: flex
            justify-content: space-between
            margin-top: 3%

            .leftmid
                h2
                    font-family: 'Open Sans'
                    font-style: normal
                    font-weight: 700
                    font-size: 36px
                    line-height: 49px
                    letter-spacing: -0.3px
                    color: #FFFFFF
                .buttonmid
                    width: 399px
                    height: 79px
                    border-bottom: solid 2px grey
                    display: flex
                    align-items: center
                    input
                        width: 94%
                        height: 100%
                        font-family: 'DM Sans'
                        font-style: normal
                        font-weight: 400
                        font-size: 15px
                        line-height: 20px
                        letter-spacing: -0.204545px
                        color: #FFFFFF
                        mix-blend-mode: normal
                        opacity: 0.5
                    button
                        width: 69px
                        height: 100%
                        background: #FFA343
                        border-radius: 8px 8px 0px 0px

                        font-size: 20px
                        font-weight: bold
            .rightmid
                width: 60%
                display: flex
                justify-content: space-between
                .services
                    height: 100%
                    display: flex
                    justify-content: space-between
                    flex-direction: column
                    h2
                        font-family: 'Open Sans'
                        font-style: normal
                        font-weight: 700
                        font-size: 20px
                        line-height: 0px
                        color: #FFD1A0
                    a
                        font-family: 'Open Sans'
                        font-style: normal
                        font-weight: 400
                        font-size: 19px
                        line-height: 0px
                        color: #FFFFFF
                .services-3
                    height: 75%
                    display: flex
                    justify-content: space-between
                    flex-direction: column
                    h2
                        font-family: 'Open Sans'
                        font-style: normal
                        font-weight: 700
                        font-size: 20px
                        line-height: 0px
                        color: #FFD1A0
                    a
                        font-family: 'Open Sans'
                        font-style: normal
                        font-weight: 400
                        font-size: 19px
                        line-height: 0px
                        color: #FFFFFF

        .footer4
            width: 90%
            margin: 0 auto
            display: flex
            justify-content: space-between
            margin-top: 3%
            .priv
                width: 25%
                display: flex
                justify-content: space-between
                h2
                    font-family: 'DM Sans'
                    font-style: normal
                    font-weight: 400
                    font-size: 15px
                    line-height: 20px
                    letter-spacing: -0.204545px
                    color: #FFFFFF
            .social
                width: 15%
                display: flex
                justify-content: space-between
                align-items: center
                text-align: center
        .foot5
            margin-top: 3%
            width: 15%
            margin-left: 40%
            h2
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 600
                font-size: 18px
                line-height: 32px
                text-align: center
                color: #FFFFFF
                opacity: 0.5
