@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button, input {
  outline: none;
  background: none;
  border: none;
}

.section-1 {
  height: 130vh;
  width: 100%;
  background-image: url(../../img/backig/bg.jpg);
  background-position: center;
  background-size: cover;
}
.section-1 header {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.section-1 header .logo, .section-1 header a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.section-1 header .logo:hover, .section-1 header a:hover {
  color: #FFC178;
}
.section-1 header .nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.section-1 header .nav a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.section-1 header .nav a:hover {
  color: #FFC178;
}
.section-1 header .search, .section-1 header input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #FFFFFF;
}
.section-1 .cont-box {
  margin: 0 auto;
  margin-top: 10%;
  width: 60%;
  height: 261px;
}
.section-1 .cont-box .cont-1 {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 46%;
}
.section-1 .cont-box .cont-1 .line {
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: #FFC178;
}
.section-1 .cont-box .cont-1 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FFC178;
}
.section-1 .cont-box .discover p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.section-1 .cont-box .discover .cont-box, .section-1 .cont-box .discover span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
}
.section-1 .scroll {
  width: 7%;
  height: 35px;
  margin: 0 auto;
  margin-top: 135px;
}
.section-1 .scroll a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.section-1 .scroll a:hover {
  color: #FFC178;
}

.section-2 {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}
.section-2 .content {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
.section-2 .content .rightcont {
  width: 46%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: #FFFFFF;
}
.section-2 .content .rightcont .line_text {
  height: 7%;
  width: 60%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.section-2 .content .rightcont .line_text h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.section-2 .content .rightcont h3 {
  margin-top: 3%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.section-2 .content .rightcont p {
  margin-top: 3%;
  width: 632px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.section-2 .content .rightcont .line-2 {
  width: 72px;
  height: 2px;
  background: #FBD784;
}
.section-2 .content .rightcont .read_more {
  align-items: center;
  margin-top: 3%;
}
.section-2 .content .rightcont .read_more a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
}

.section-3 {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.section-3 .backimg {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  background-image: url(../../img/backig/sec2.jpg);
  background-size: cover;
  align-items: center;
  text-align: center;
}
.section-3 .backimg .cont {
  padding-top: 20%;
}
.section-3 .backimg .cont .bromo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin: 0 auto;
}
.section-3 .backimg .cont .bromo h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.section-3 .backimg .cont .bromo .line-3 {
  width: 72px;
  height: 2px;
  left: 434px;
  top: 11.89px;
  background: #FBD784;
  align-items: center;
}
.section-3 .backimg .cont h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: #FFFFFF;
}
.section-3 .backimg .cont p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
.section-3 .backimg .cont .readmore_2 {
  align-items: center;
  margin-top: 3%;
}
.section-3 .backimg .cont .readmore_2 a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
}

.section-4 {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.section-4 .cont {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.section-4 .cont .leftcont4 {
  width: 50%;
  margin-top: 10%;
}
.section-4 .cont .leftcont4 .topcont {
  width: 65%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.section-4 .cont .leftcont4 .topcont .line-4 {
  width: 72px;
  height: 2px;
  background: #FBD784;
}
.section-4 .cont .leftcont4 .topcont h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.section-4 .cont .leftcont4 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: #FFFFFF;
}
.section-4 .cont .leftcont4 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.section-4 .cont .leftcont4 .readmore_2 {
  align-items: center;
  margin-top: 3%;
}
.section-4 .cont .leftcont4 .readmore_2 a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
}
.section-4 .cont .rightcont4 {
  width: 43%;
  height: 100%;
  background-image: url(../../img/backig/img2.jpg);
  background-size: cover;
}

footer {
  width: 100%;
  height: 50vh;
  background-color: black;
}
footer .footnav {
  width: 70%;
  height: 90%;
  margin: 0 auto;
}
footer .footnav .topfoot {
  display: flex;
  justify-content: space-between;
}
footer .footnav .topfoot a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}
footer .footnav .topfoot .buttons {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
footer .footnav .topfoot .buttons .button-1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
footer .footnav .topfoot .buttons .button-2 {
  width: 239px;
  height: 69px;
  background: #FFA343;
  border-radius: 8px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}
footer .footnav .footerline {
  margin-top: 3%;
  height: 1.38px;
  left: 0.07px;
  top: 124.44px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.3;
}
footer .footnav .midlefoot {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
footer .footnav .midlefoot .leftmid h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
footer .footnav .midlefoot .leftmid .buttonmid {
  width: 399px;
  height: 79px;
  border-bottom: solid 2px grey;
  display: flex;
  align-items: center;
}
footer .footnav .midlefoot .leftmid .buttonmid input {
  width: 94%;
  height: 100%;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
footer .footnav .midlefoot .leftmid .buttonmid button {
  width: 69px;
  height: 100%;
  background: #FFA343;
  border-radius: 8px 8px 0px 0px;
  font-size: 20px;
  font-weight: bold;
}
footer .footnav .midlefoot .rightmid {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
footer .footnav .midlefoot .rightmid .services {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer .footnav .midlefoot .rightmid .services h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 0px;
  color: #FFD1A0;
}
footer .footnav .midlefoot .rightmid .services a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 0px;
  color: #FFFFFF;
}
footer .footnav .midlefoot .rightmid .services-3 {
  height: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer .footnav .midlefoot .rightmid .services-3 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 0px;
  color: #FFD1A0;
}
footer .footnav .midlefoot .rightmid .services-3 a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 0px;
  color: #FFFFFF;
}
footer .footnav .footer4 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
footer .footnav .footer4 .priv {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
footer .footnav .footer4 .priv h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
}
footer .footnav .footer4 .social {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
footer .footnav .foot5 {
  margin-top: 3%;
  width: 15%;
  margin-left: 40%;
}
footer .footnav .foot5 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
}

/*# sourceMappingURL=index.css.map */
